.Canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  .canvasContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .canvasWrapper {
    border: none;
    box-shadow: 5px 5px 20px #808080;
    background-color: #ffffff;
    height: fit-content;
  }

  .toolbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    width: 300px;
  }

  .status {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border: none;
    margin: 0rem 1rem 1rem 1rem;
    text-align: center;
    color: black;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 120%;
    font-weight: bold;
  }
}
