$button-height-half: 2rem;
$button-height: 4rem;

.Tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #e4f0f2;
  opacity: 0.9;
  width: 8rem;
  margin: 1rem 1rem 1rem 3rem;
  border-radius: 1rem;

  .toolsContainer {
    width: 100%;

    button {
      height: $button-height-half;
      width: 100%;
      border: none;
      background-color: #33ffbb;
      font-size: 15px;
      border-radius: 0.5rem;
      color: darkslategray;
      font-family: 'Permanent Marker', cursive;
      cursor: pointer;
      margin-top: 0.5rem;
      outline: none;
    }

    button:hover {
      outline: none;
      background-color:	#00e699;
    }

    input {
      padding: 0;
      border: 0;
      width: 100%;
      height: $button-height-half;
      margin-bottom: 1rem;
      cursor: pointer;
    }

    .brushButtonsContainer {
      button {
        border-radius: 1rem;
        border: none;
        background-color: #efee9d;
        margin: 0.2rem;
        width: 3.6rem;
        height: $button-height;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
      button:hover {
        background-color: #dfdc3a;
      }
    }
  }
}
