.UserList {
  justify-content: center;
  align-self: center;
  align-content: center;
  border: 0.5rem solid;
  border-image: linear-gradient(
      to right,
      #efee9d 25%,
      #00e699 25%,
      #efee9d 60%,
      #efee9d 75%,
      #00e699 75%
    )
    4;
  padding: 1rem;

  .listHeader {
    span {
      text-align: center;
      -webkit-font-smoothing: none;
      font-weight: bold;
    }
    padding-bottom: 1rem;
  }

  .singleUser {
    text-align: center;
  }
}
